@import "./../../assets/styles/variables.scss";

.ant-layout-footer, .footer {
  text-align: center;
  background-color: white !important;
  color: $DarkBlue !important;
  padding: 10px !important;
}
